<section class="airbnb-hero dashboard-hero">
  <div class="intro">
    
        <div class="row">
            <div class="col-2">
              <h1 id="dashboard">Welcome to PTH's Airbnb</h1>
              <h1 id="dashboard">Thank for sign up our website</h1>
              <h1 id="dashboard">We hope that you have good experience with us</h1>
              <h1 id="dashboard">Let go and see now!!!</h1>
              <a id="dashboard_button" href="/rooms" class="btn">Discover Now </a>
            </div>
            <div class="col-2">
                <img src="../images/animation-house-drawing-image-child-png-favpng-mRx6PXeYFCQnQxUDsQ1tXAna1.png" alt="">
            </div>
        </div>
    </div>
  </div>
<div class="categories1">
<div class="small-container">
<h2 class="title">Room list</h2>
    <br>
    <div class="row">
      {{#each rooms}}
      <div class="col-6">
        <a href="/room/{{this._id}}">
        <img src="/rooms/{{this.image}}" alt="{{this.title}}">
        </a>
        <h4><b>{{this.city}}</b></h4>
        <h4>{{this.title}}
      <h5 class="price">Price: <b>{{this.price}}</b>/night</h5>
                  {{#if ../user}}
                  {{#if ../user.isAdmin }}
               
                  <a id="button" href="/admin/edit/{{this._id}}">
                  Edit
                  </a>
                  
                  {{else}} 
                  <a id="button" href="/book/{{this._id}}"> 
                   Book     
                  </a>
                  
                  {{/if}}
                  {{else}} 
                  <a id="button" href="/user/login">   
                  Book
                  </a>
          
                  {{/if}}
      </div>
       {{/each}}
    </div>
    </div>
  </div>
</section>
<!--Testimonial-->
{{> testimonial}}
<!--Banner Ads-->
{{> advertise}}